.div {
    padding-top: 20px;
    margin-bottom: 20px;
}

.input {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 20px !important;
}

.form-group {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
} 

.button {
    width: 100px !important;
};

. { 
    
}