.background {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../src/cat-and-dog.jpg) top center fixed;
  opacity: 0.3;
  background-size: cover;
  padding: 0 !important;
  margin: 0;
}

.bord-box {box-sizing: border-box;}

.disp-tabcell {display: table-cell;}
.txt-algn-cntr {text-align: center;}
.vert-algn-cntr {vertical-align: middle;}

.marg-20 {margin: 20px;}

.disp-inlineblock {display: inline-block;}