.footer {
    width: 100%;
    background-color: #333;
    padding: 20px;
}

.row {
    width: 100%;
}

.social {
    width: 20px;
    float: right;
    margin-left: 15px;
    margin-top: 20px;
    opacity: .3;
}

.tw-social {
    width: 20px;
    float: right;
    margin-left: 10px;
    margin-top: 20px;
    opacity: .3;
}

.logoF {
    text-align: center;
    height: 30px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.contact {
    font-family: 'Quicksand', sans-serif;
    color: #777;
    font-size: 15px;
    text-align: left;
    line-height: 3px;
    margin-top: 10px;
}