.card {
  background: #fff;
  border-radius: 2px;
  height: 500px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
  height: 80%;
  overflow: hidden;
  text-align: center;
  background:#EEF0F1;
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
 
  font-size: 16px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}


.animalName {
  font-size: 30px;
  color: #FFC107;
  text-align: center;
  text-shadow: 0 0 3px #070101;

}

.content {
  text-align: center;
}

Button {
  height: 35px;
  width: 100%;
}

.details{
  margin-top: 10px;
}

.my-modal {
  width: 90%;    /* Occupy the 90% of the screen width */

} 

