.nav {
	background-color: #333;
}

.nav-logo {
	width: 100%;
	padding: 10px;
}

.nav-link {
  color: #ffffff !important;
  font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

.drop-menu {
	width: 460px;
	font-family: 'Quicksand', sans-serif;
	padding: 15px !important;
	/* left: auto;
	right: 13px; */
	overflow: visible;
}

.register {
	/* margin: 0 0 10px 0; */
	float: right;
}