.master {
    background-color: #fff;
    margin: 60px;
    
}

.tab {
    background-color: #ECEFF1;
    border: none !important;
}

.tab-txt {
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none !important;
}

.tab-cont {
    font-family: 'Quicksand', sans-serif;
    padding: 60px;
    color: #333;
}